.contact-me {
    display: grid;
    padding: 1.5rem;
    gap: 2rem;
    justify-items: center;

    form {
        animation: rotate 5s infinite forwards alternate;
        display: grid;
        justify-content: center;
        gap: 2rem;
        grid-auto-columns: minmax(auto, 45ch);

        label {
            display: grid;
            gap: 1rem;
        }

        input,
        textarea {
            border-radius: 1rem;
            padding: 1rem;
            border: 2px solid white;
            outline: none;
            width: 100%;
            background-color: var(--color-neutral);
            color: var(--color-secondary);
            font-family: inherit;

            &::placeholder {
                font-weight: 600;
            }
        }

        button[type="submit"] {
            background-color: var(--color-secondary);
            color: var(--color-primary);
            padding: 1rem 2rem;
            font-family: inherit;
            font-weight: 700;
            font-size: 1.25rem;
            border-radius: 0.75rem;
            cursor: pointer;
        }
    }
}