@use '../../app/keyframes';

.home-page {
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
    gap: 2rem;
}

section {
    display: grid;
    place-content: center;
    // background-color: hsl(247, 27%, 8%);
    border-radius: 2rem;
    width: calc(var(--vw) - 4rem);
    font-weight: 600;
    font-size: 1.25rem;
}