@use '../../app/keyframes' as *;

.home-page {
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
    gap: 4rem;
}

section {
    display: grid;
    place-content: center;
}