* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


:root {

	&[data-theme="light"] {
		--primary-clr: #ffffff;
		--secondary-clr: #18171b;
	}

	&[data-theme="dark"] {
		--primary-clr: #18171b;
		--secondary-clr: #ffffff;
	}


	overflow: hidden;
}

#root {
	height: var(--vh, 100vh);
	width: var(--vw, 100vw);
	color: var(--secondary-clr);
	background-color: var(--primary-clr);
	font-family: 'Mona Sans';
	overflow: auto;
	scroll-behavior: smooth;
}

@font-face {
	font-family: 'Mona Sans';
	src: url('../assets/fonts/mona-sans.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter';
	src: url('../assets/fonts/inter-variable-font.woff2') format('woff2');
}