* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-accent: #028af2;
	--color-neutral: #2e2e2e;

	&[data-theme="light"] {
		--color-primary: #ffffff;
		--color-secondary: #18171b;
	}

	&[data-theme="dark"] {
		--color-primary: #18171b;
		--color-secondary: #ffffff;
	}


	overflow: hidden;
}

#root {
	height: var(--vh, 100vh);
	width: var(--vw, 100vw);
	color: var(--color-secondary);
	background-color: var(--color-primary);
	font-family: 'Mona Sans';
	overflow: hidden auto;
	scroll-behavior: smooth;
}

@font-face {
	font-family: 'Mona Sans';
	src: url('../assets/fonts/mona-sans.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter';
	src: url('../assets/fonts/inter-variable-font.woff2') format('woff2');
}