@use '../../app/keyframes' as *;

.nav-bar {
    display: grid;
    height: 100%;
    width: 100%;
    place-content: center;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 3rem 0;

    ul {
        list-style: none;
        display: flex;
        gap: 2rem;

        a {
            text-decoration: none;
            color: inherit;
        }

        li {
            color: var(--color-primary);
            position: relative;
            padding: 0.25rem 0.75rem;
            overflow: hidden;
            border-radius: 0.25rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            svg {
                fill: var(--color-primary);
                height: 1.5rem;
                aspect-ratio: 1 / 1;
            }

            &::before {
                content: '';
                width: 0;
                height: 100%;
                background-color: var(--color-primary);
                position: absolute;
                top: 0;
                left: 0;
                mix-blend-mode: difference;
                pointer-events: none;
                transition: all 0.2s linear;
            }

            &:hover {
                &::before {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width:400px) {
    .nav-bar {
        font-size: 1rem;
        padding: 2rem 0;
    }
}