.my-projects {
    display: grid;
    gap: 2rem;
    justify-items: center;
    padding: 2rem;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.project-card {
    --width: clamp(200px, calc(var(--vw) - 6rem), 40ch);
    display: grid;
    justify-items: center;
    gap: 1rem;
    border: 1px solid grey;
    border-radius: 1rem;
    width: var(--width);
    position: relative;
    overflow: hidden;
    transition: all 100ms linear;

    &[data-url] {
        cursor: pointer;
    }

    .project-link {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        text-decoration: none;
        color: inherit;
        opacity: 0;
        pointer-events: none;
        background-color: var(--color-neutral);

        svg {
            height: 1.5rem;
            width: 1.5rem;
        }
    }

    &:hover {
        .project-link {
            opacity: 1;
            pointer-events: all;
        }

        transform: scale(1.02);
    }

    img {
        border-radius: 1rem;
        aspect-ratio: 2 / 3;
        object-fit: cover;
        object-position: center;

    }



}

.project-details {
    display: grid;
    gap: 1rem;
    padding: 1rem;

    p {
        font-weight: 400;
        max-width: 50ch;
    }
}